<div class="row">
    <div class="col" [hidden]="submitted">
        <h1>Patient form</h1>
        <form (ngSubmit)="onSubmit()" #patientForm="ngForm">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
                <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                    First name is required
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
                <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                    Last name is required
                </div>
            </div>

            <div class="form-group">
                    <label for="personalId">PESEL:</label>
                    <input type="text" class="form-control" id="personalId" required pattern="[0-9]{11}" [(ngModel)]="model.personalId" name="personalId" #personalId="ngModel">
                    <div [hidden]="personalId.valid || personalId.pristine" class="alert alert-danger">
                        Personal Id is required and must contain 11 digits
                    </div>
            </div>

            <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" [(ngModel)]="model.address" name="address" #address="ngModel">
                    <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
                        ...
                    </div>
                </div>

                <div class="form-group">
                        <label for="sex">Sex</label>
                        <select class="form-control" id="sex"
                                required
                                [(ngModel)]="model.sex" name="sex"
                                #sex="ngModel">
                          <option *ngFor="let sex of sexes" [value]="getSex(sex)">{{sex}}</option>
                        </select>
                        <div [hidden]="sex.valid || sex.pristine" class="alert alert-danger">
                          Sex is required
                        </div>
                      </div>

                      <button type="submit" class="btn btn-success" [disabled]="!patientForm.form.valid">Add patient</button>
                      <button type="button" class="btn btn-default" (click)="newPatient(); patientForm.reset()">New patient</button>

        </form>
    </div>

</div>